<main class="container" aria-label="Content">
    <div id="preamble">
      <div class="sectionbody">
        <span class="rounded-profile">
          <img src="/static/profile-pic-vt.png" alt="Picture of Vishal Dhanure" title="Picture of Vishal Dhanure">
        </span>
      </div>
    </div>
    <div class="sect1">
      <h2 id="who-am-i"></h2>
      <div class="sectionbody">
        <div class="paragraph">
          <h4> " I believe that collaboration leads to synergistic results with collaboration , we can achieve more than the sum of the parts taken togther "</h4>
        </div>
      </div>
    </div>
    <div class="sect1">
      <h2 id="what-i-do">Who am I </h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p>My name is Vishal Dhanure.
            I am an Open Source contributor and Software Engineer , currently based in Aurangabad.
            I Pursing  a Bachelor of Technology in <a href="https://www.dietms.org/computer-science-and-engineering/"> Computer Science  &amp; Engineering </a>  from the <a href="https://www.dietms.org/">Deogiri Institute of Engineering and Management Studies,Aurangabad</a>.</p>
        </div>
    </div>
    <div class="sect1">
      <h2 id="what-i-do">What I do</h2>
      <div class="sectionbody">
        <div class="paragraph">
          <p> I'm fun to work with. I always like to learn new things from others as much as helping solve their problems.
            solving problems at scale , maintaining high standards in writing production code drives me to learn and imporve constantly. and also 
             participate in free and open source software communities since 2020.</p>
        </div>
        <div class="section" id="projects">
          <div class="project" id="unicef">
            <h3>RedHat Open Source Contest 2021</h3>
            <img src="/static/Rhosc.jpg" height="200px"alt="UNICEF Innovation logo" title="UNICEF Innovation logo">
            <h4 id="open-source-technical-advisor">Open Source Contributor </h4>
            <p>Since March 2021, I work Part-time at the <a href="https://research.redhat.com/red-hat-open-source-contest/">RedHat Open Source Contest 2021</a>.
                it is an Open Source contest held by the largest Open Source organization at Redhat, to encourage students in contributing to Open Source projects at Redhat itself. <a href="https://www.linkedin.com/pulse/my-journey-being-part-rhosc-2021-vishal-dhanure-/">Open Stack Community under StackViz Project  </a> as the Role Open Source Contributor at OpenStack Community.
              My responsibilities include the following, related to all things Free and Open Source:</p>
            <ul>

              <li>Open source support</li>
              <li>Cohort collaboration</li>
              <li>Improve tooling and testing</li>
              <li>Technology learns quickly </li>
              <li>Project’s documentation</li>
            </ul>
            <h3 id="unicef-magicbox">Girlscript Summer of Code 2021</h3>
            <img src="/static/Gssoc.png" height="200px"alt="UNICEF Innovation logo" title="UNICEF Innovation logo">
            <h4 id="open-source-technical-advisor">Open Source Contributor </h4>
            <p>From March  - June 2021,</p>
            <p>GirlScript Summer of Code is the 3 month long Open Source program during summers conducted by <a href="https://gssoc.girlscript.tech/">GirlScript Foundation,</a>with an aim to help beginners get started with Open Source Development while encouraging diversity. Throughout the program, participants contribute to different projects under the guidance of experienced mentors.
              I improved Open Source best practices to enable continuous integration, agile development practices, and created a 3 month Open Source community roadmap.
              There,
            <ul>
              <h4> Learnings </h4>
                <li> "Ranked 107" in the Girlscript Summer of Code Program across Thousand of Participants from Over India.</li>
                <li> Contributed in <a href="https://github.com/akshitagupta15june/Face-X" >Face-X Project.</a></li>
                <li> Worked Primarily in Data Structure and Algorithm, Computer Vision Based Modules</li>
               <li> Got Experience in Real-World Development</li>
              <li> Learned to work with the group.</li>
           <li> Workflow of GitHub</li>
            <li> Learned how to set up a particular Project on Local System </li>
            <li> Had a great Networking with Amazing Peoples!</li>
             <li> Brushed Up My Skills of Front-end Web Development!</li>
                <li> Collaborated on Git and Github for Open Source Development.</li>
            </ul>        
        </div>
          <div class="project" id="fedora">
            <h3>Fedora Project</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Fedora_logo_%282021%29.svg/2880px-Fedora_logo_%282021%29.svg.png" alt="Fedora Project logo" title="Fedora Project logo">
            <p>I am a contributor to <a href="https://getfedora.org">Fedora Linux</a> since August 2020.
              Fedora Linux is a <a href="https://digitalpublicgoods.net/about/">Digital Public Good</a> created by the <a href="https://docs.fedoraproject.org/en-US/project/">Fedora Project Community</a>
              (<em>see <a href="https://digitalpublicgoods.net/registry/fedora-linux.html">certification</a></em>).
              Currently, I focus on <a href="https://docs.fedoraproject.org/en-US/fedora-docs/">documentation</a> and maintaining a few packages.
              Here is a list of the things I am currently doing in Fedora:</p>
            <ul>
              <li><a href="https://docs.fedoraproject.org/en-US/badges/"><strong>Badges</strong></a>: Fedora Kernel 5.12 Test Week 
                 (<em>Fedora Linux releases 29 to 34</em>)</li>
              <li><a href="https://communityblog.fedoraproject.org/author/jflory7/"><strong>Community Blog</strong></a>:
                Member (<em>Fedora Linux releases 22 to 29</em>)</li>
              <li><a href="https://docs.fedoraproject.org/en-US/diversity-inclusion/"><strong>Diversity and Inclusion Team</strong></a>:
                 member &amp;  contributor (<em>Fedora Linux releases 24 to 33</em>)</li>
            </ul>
          </div>
          <div class="project" id="librecorps">
            <h3>Layer5 | Service Mesh Project </h3>
            <img src="/static/meshery-logo.png" height="200px"alt="Meshery logo" title=" meshery  logo">
            <h4 id="open-source-technical-advisor">Contributor </h4>
            <p>From January 2021 ,I work as contributor  at Layer5, where we build Open-Source products to make Service Meshes available to everyone. the Meshery project is maintained by <a href="https://layer5.io/community">the Layer5 community</a></p>
            <p>Meshery is the open source, service mesh management plane that enables the adoption, operation, and management of any service mesh and their workloads.</p>
            <ul>
              <h4> Learnings </h4>
                <li> Contributed in <a href="https://github.com/meshery" > Meshery Project.</a></li>
                <li> Worked Primarily in React.js,Jekyll,HTML,CSS and Go language </li>
               <li> Got Experience in Real-World Development</li>
              <li> Learned to work with the group.</li>
           <li> Workflow of GitHub</li>
            <li> Learned how to set up a particular Project on Local System </li>
            <li> Had a great Networking with Amazing Peoples!</li>
             <li> Brushed Up My Skills of Front-end Web Development!</li>
                <li> Collaborated on Git and Github for Open Source Development.</li>
                <li> participated Open Source Event <a href="https://events.linuxfoundation.org/servicemeshcon-north-america/" >ServiceMeshCon North America 2021.</a></li>
            </ul>      
              <div class="project" id="librecorps">
                <h3> Indian Innovation & Entrepreneurship Community </h3>
                <img src="/static/IIEC-Rise.png" height="300px"alt="UNICEF Innovation logo" title="UNICEF Innovation logo">
                <h4 id="open-source-technical-advisor">Community Ambassadors </h4>
               <p>Indian Innovation & Entrepreneurship Community is a non-profit platfrom Introduced to train and transfrom Engineering Student and helping them to develop Entrepreneurial Mindset .Our moto is "Making India Future Ready"  </p>
                <p> </p>
              </div>
              <div class="project" id="librecorps">
                <h3> Indian Open Source Community </h3>
                <img src="/static/Indian-Open-Source.png" height="300px"alt=" Indian-Open-Source  logo" title="  Indian-Open-Source logo">
                <h4 id="open-source-technical-advisor">Community Ambassadors </h4>
                <p>from January 2021 ,I work as contributor at <a href="http://indianopensourcecommunity.in/">Indian-open-Source Community </a> program under various Open source domain <a href="https://fossrit.github.io/about/"><span class="__cf_email__" data-cfemail="afe9e0fcfcefe2eee8e6ec">Cloud Computing (AWS | gcp | Azure | OpenStack ), Machine Learning ,Dcoker & Podman Technology Workshop </a> at the Deogiri Institute of Engineering and Management Studies.</p>
                <h3>participated Workshop</h3>
                <ul>
                  <li> Introduction to Devops </li>
                  <li>Introduction to Jenkins </li>
                  <li>Podman Workshop</li>
                  <li>IoC-CoreOS Workshop</li>
                  <li>Introduction of Cloud Services</li>
                  <li>Introduction of Openstack </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
